/* .div {
  position: relative;
} */
.first {
  position: absolute;
  top: 200px;
  width: 1100px;
}
.middle {
  position: absolute;
  top: 375px;
  width: 1100px;
}
.last {
  position: absolute;
  top: 500px;
  width: 1100px;
}
.Parrallax {
  position: absolute;
  top: 0;
}
.road {
  position: absolute;
  z-index: 1000;
  top: 755px;
  width: 1100px;
}

.sky {
  width: 1100px;
  height: 1010px;
  background-image: url(../public/assets/BS.png);
}
.clouds {
  position: absolute;
  top: 330px;
  width: 1100px;
}

.sign {
  position: absolute;
  top: 660px;
  left: 10px;
  width: 190px;
  z-index: 1009;
}
