#first {
  position: absolute;
  top: 30%;
  width: 100%;
}
#middle {
  position: absolute;
  top: 45%;
  width: 100%;
}
#last {
  position: absolute;
  top: 60%;
  width: 100%;
}
#road {
  position: absolute;
  z-index: 1100;
  top: 85%;
  width: 97%;
}
#ground {
  position: absolute;
  z-index: 1000;
  top: 85%;
  width: 100%;
}

#clouds {
  position: absolute;
  top: 30%;
  width: 98%;
}

#sign {
  position: absolute;
  top: 78%;
  left: 6%;
  width: 16%;
  z-index: 1009;
}
